/* line 6, ../sass/parallax.scss */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 13, ../sass/parallax.scss */
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 21, ../sass/parallax.scss */
.parallax__layer--base {
  transform: translateZ(0);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back1 {
  transform: translateZ(-1px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back2 {
  transform: translateZ(-2px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back3 {
  transform: translateZ(-3px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back4 {
  transform: translateZ(-4px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back5 {
  transform: translateZ(-5px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back6 {
  transform: translateZ(-6px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back7 {
  transform: translateZ(-7px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back8 {
  transform: translateZ(-8px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back9 {
  transform: translateZ(-9px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back10 {
  transform: translateZ(-10px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back11 {
  transform: translateZ(-11px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back12 {
  transform: translateZ(-12px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back13 {
  transform: translateZ(-13px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back14 {
  transform: translateZ(-14px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back15 {
  transform: translateZ(-15px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back16 {
  transform: translateZ(-16px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back17 {
  transform: translateZ(-17px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back18 {
  transform: translateZ(-18px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back19 {
  transform: translateZ(-19px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back20 {
  transform: translateZ(-20px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back21 {
  transform: translateZ(-21px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back22 {
  transform: translateZ(-22px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back23 {
  transform: translateZ(-23px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back24 {
  transform: translateZ(-24px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back25 {
  transform: translateZ(-25px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back26 {
  transform: translateZ(-26px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back27 {
  transform: translateZ(-27px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back28 {
  transform: translateZ(-28px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back29 {
  transform: translateZ(-29px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back30 {
  transform: translateZ(-30px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back31 {
  transform: translateZ(-31px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back32 {
  transform: translateZ(-32px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back33 {
  transform: translateZ(-33px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back34 {
  transform: translateZ(-34px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back35 {
  transform: translateZ(-35px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back36 {
  transform: translateZ(-36px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back37 {
  transform: translateZ(-37px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back38 {
  transform: translateZ(-38px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back39 {
  transform: translateZ(-39px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back40 {
  transform: translateZ(-40px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back41 {
  transform: translateZ(-41px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back42 {
  transform: translateZ(-42px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back43 {
  transform: translateZ(-43px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back44 {
  transform: translateZ(-44px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back45 {
  transform: translateZ(-45px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back46 {
  transform: translateZ(-46px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back47 {
  transform: translateZ(-47px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back48 {
  transform: translateZ(-48px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back49 {
  transform: translateZ(-49px);
}

/* line 25, ../sass/parallax.scss */
.parallax__layer--back50 {
  transform: translateZ(-50px);
}

/* line 30, ../sass/parallax.scss */
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
