/* line 1, ../sass/test.scss */
.container {
  font-size: 0;
  width: 100vw;
}
/* line 5, ../sass/test.scss */
.container .box {
  display: inline-block;
  height: 350px;
  width: 350px;
  border: 1px solid black;
  border-radius: 50%;
}
