/* line 1, ../sass/test.scss */
.container {
  font-size: 0;
  width: 100vw;
}
/* line 5, ../sass/test.scss */
.container .box {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

/* line 13, ../sass/test.scss */
.parallax__group {
  border: 1px solid blue;
}
