$perspective: 1;
@function parallax-translateZ($translateZ) {
    @return translateZ($translateZ + px) scale(1 + (-$translateZ / $perspective));
}

.parallax {
    perspective: $perspective + px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}
@for $i from 1 through 50 {
    .parallax__layer--back#{$i} {
        transform: parallax-translateZ(-$i);
    }
}

.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}