.gray256 {
  background-image: linear-gradient(to left,
    #000000 0%,
    #000000 0.390625%,
    #010101 0.390625%,
    #010101 0.78125%,
    #020202 0.78125%,
    #020202 1.171875%,
    #030303 1.171875%,
    #030303 1.5625%,
    #040404 1.5625%,
    #040404 1.953125%,
    #050505 1.953125%,
    #050505 2.34375%,
    #060606 2.34375%,
    #060606 2.734375%,
    #070707 2.734375%,
    #070707 3.125%,
    #080808 3.125%,
    #080808 3.515625%,
    #090909 3.515625%,
    #090909 3.90625%,
    #0a0a0a 3.90625%,
    #0a0a0a 4.296875%,
    #0b0b0b 4.296875%,
    #0b0b0b 4.6875%,
    #0c0c0c 4.6875%,
    #0c0c0c 5.078125%,
    #0d0d0d 5.078125%,
    #0d0d0d 5.46875%,
    #0e0e0e 5.46875%,
    #0e0e0e 5.859375%,
    #0f0f0f 5.859375%,
    #0f0f0f 6.25%,
    #101010 6.25%,
    #101010 6.640625%,
    #111111 6.640625%,
    #111111 7.03125%,
    #121212 7.03125%,
    #121212 7.421875%,
    #131313 7.421875%,
    #131313 7.8125%,
    #141414 7.8125%,
    #141414 8.203125%,
    #151515 8.203125%,
    #151515 8.59375%,
    #161616 8.59375%,
    #161616 8.984375%,
    #171717 8.984375%,
    #171717 9.375%,
    #181818 9.375%,
    #181818 9.765625%,
    #191919 9.765625%,
    #191919 10.15625%,
    #1a1a1a 10.15625%,
    #1a1a1a 10.546875%,
    #1b1b1b 10.546875%,
    #1b1b1b 10.9375%,
    #1c1c1c 10.9375%,
    #1c1c1c 11.328125%,
    #1d1d1d 11.328125%,
    #1d1d1d 11.71875%,
    #1e1e1e 11.71875%,
    #1e1e1e 12.109375%,
    #1f1f1f 12.109375%,
    #1f1f1f 12.5%,
    #202020 12.5%,
    #202020 12.890625%,
    #212121 12.890625%,
    #212121 13.28125%,
    #222222 13.28125%,
    #222222 13.671875%,
    #232323 13.671875%,
    #232323 14.0625%,
    #242424 14.0625%,
    #242424 14.453125%,
    #252525 14.453125%,
    #252525 14.84375%,
    #262626 14.84375%,
    #262626 15.234375%,
    #272727 15.234375%,
    #272727 15.625%,
    #282828 15.625%,
    #282828 16.015625%,
    #292929 16.015625%,
    #292929 16.40625%,
    #2a2a2a 16.40625%,
    #2a2a2a 16.796875%,
    #2b2b2b 16.796875%,
    #2b2b2b 17.1875%,
    #2c2c2c 17.1875%,
    #2c2c2c 17.578125%,
    #2d2d2d 17.578125%,
    #2d2d2d 17.96875%,
    #2e2e2e 17.96875%,
    #2e2e2e 18.359375%,
    #2f2f2f 18.359375%,
    #2f2f2f 18.75%,
    #303030 18.75%,
    #303030 19.140625%,
    #313131 19.140625%,
    #313131 19.53125%,
    #323232 19.53125%,
    #323232 19.921875%,
    #333333 19.921875%,
    #333333 20.3125%,
    #343434 20.3125%,
    #343434 20.703125%,
    #353535 20.703125%,
    #353535 21.09375%,
    #363636 21.09375%,
    #363636 21.484375%,
    #373737 21.484375%,
    #373737 21.875%,
    #383838 21.875%,
    #383838 22.265625%,
    #393939 22.265625%,
    #393939 22.65625%,
    #3a3a3a 22.65625%,
    #3a3a3a 23.046875%,
    #3b3b3b 23.046875%,
    #3b3b3b 23.4375%,
    #3c3c3c 23.4375%,
    #3c3c3c 23.828125%,
    #3d3d3d 23.828125%,
    #3d3d3d 24.21875%,
    #3e3e3e 24.21875%,
    #3e3e3e 24.609375%,
    #3f3f3f 24.609375%,
    #3f3f3f 25%,
    #404040 25%,
    #404040 25.390625%,
    #414141 25.390625%,
    #414141 25.78125%,
    #424242 25.78125%,
    #424242 26.171875%,
    #434343 26.171875%,
    #434343 26.5625%,
    #444444 26.5625%,
    #444444 26.953125%,
    #454545 26.953125%,
    #454545 27.34375%,
    #464646 27.34375%,
    #464646 27.734375%,
    #474747 27.734375%,
    #474747 28.125%,
    #484848 28.125%,
    #484848 28.515625%,
    #494949 28.515625%,
    #494949 28.90625%,
    #4a4a4a 28.90625%,
    #4a4a4a 29.296875%,
    #4b4b4b 29.296875%,
    #4b4b4b 29.6875%,
    #4c4c4c 29.6875%,
    #4c4c4c 30.078125%,
    #4d4d4d 30.078125%,
    #4d4d4d 30.46875%,
    #4e4e4e 30.46875%,
    #4e4e4e 30.859375%,
    #4f4f4f 30.859375%,
    #4f4f4f 31.25%,
    #505050 31.25%,
    #505050 31.640625%,
    #515151 31.640625%,
    #515151 32.03125%,
    #525252 32.03125%,
    #525252 32.421875%,
    #535353 32.421875%,
    #535353 32.8125%,
    #545454 32.8125%,
    #545454 33.203125%,
    #555555 33.203125%,
    #555555 33.59375%,
    #565656 33.59375%,
    #565656 33.984375%,
    #575757 33.984375%,
    #575757 34.375%,
    #585858 34.375%,
    #585858 34.765625%,
    #595959 34.765625%,
    #595959 35.15625%,
    #5a5a5a 35.15625%,
    #5a5a5a 35.546875%,
    #5b5b5b 35.546875%,
    #5b5b5b 35.9375%,
    #5c5c5c 35.9375%,
    #5c5c5c 36.328125%,
    #5d5d5d 36.328125%,
    #5d5d5d 36.71875%,
    #5e5e5e 36.71875%,
    #5e5e5e 37.109375%,
    #5f5f5f 37.109375%,
    #5f5f5f 37.5%,
    #606060 37.5%,
    #606060 37.890625%,
    #616161 37.890625%,
    #616161 38.28125%,
    #626262 38.28125%,
    #626262 38.671875%,
    #636363 38.671875%,
    #636363 39.0625%,
    #646464 39.0625%,
    #646464 39.453125%,
    #656565 39.453125%,
    #656565 39.84375%,
    #666666 39.84375%,
    #666666 40.234375%,
    #676767 40.234375%,
    #676767 40.625%,
    #686868 40.625%,
    #686868 41.015625%,
    #696969 41.015625%,
    #696969 41.40625%,
    #6a6a6a 41.40625%,
    #6a6a6a 41.796875%,
    #6b6b6b 41.796875%,
    #6b6b6b 42.1875%,
    #6c6c6c 42.1875%,
    #6c6c6c 42.578125%,
    #6d6d6d 42.578125%,
    #6d6d6d 42.96875%,
    #6e6e6e 42.96875%,
    #6e6e6e 43.359375%,
    #6f6f6f 43.359375%,
    #6f6f6f 43.75%,
    #707070 43.75%,
    #707070 44.140625%,
    #717171 44.140625%,
    #717171 44.53125%,
    #727272 44.53125%,
    #727272 44.921875%,
    #737373 44.921875%,
    #737373 45.3125%,
    #747474 45.3125%,
    #747474 45.703125%,
    #757575 45.703125%,
    #757575 46.09375%,
    #767676 46.09375%,
    #767676 46.484375%,
    #777777 46.484375%,
    #777777 46.875%,
    #787878 46.875%,
    #787878 47.265625%,
    #797979 47.265625%,
    #797979 47.65625%,
    #7a7a7a 47.65625%,
    #7a7a7a 48.046875%,
    #7b7b7b 48.046875%,
    #7b7b7b 48.4375%,
    #7c7c7c 48.4375%,
    #7c7c7c 48.828125%,
    #7d7d7d 48.828125%,
    #7d7d7d 49.21875%,
    #7e7e7e 49.21875%,
    #7e7e7e 49.609375%,
    #7f7f7f 49.609375%,
    #7f7f7f 50%,
    #808080 50%,
    #808080 50.390625%,
    #818181 50.390625%,
    #818181 50.78125%,
    #828282 50.78125%,
    #828282 51.171875%,
    #838383 51.171875%,
    #838383 51.5625%,
    #848484 51.5625%,
    #848484 51.953125%,
    #858585 51.953125%,
    #858585 52.34375%,
    #868686 52.34375%,
    #868686 52.734375%,
    #878787 52.734375%,
    #878787 53.125%,
    #888888 53.125%,
    #888888 53.515625%,
    #898989 53.515625%,
    #898989 53.90625%,
    #8a8a8a 53.90625%,
    #8a8a8a 54.296875%,
    #8b8b8b 54.296875%,
    #8b8b8b 54.6875%,
    #8c8c8c 54.6875%,
    #8c8c8c 55.078125%,
    #8d8d8d 55.078125%,
    #8d8d8d 55.46875%,
    #8e8e8e 55.46875%,
    #8e8e8e 55.859375%,
    #8f8f8f 55.859375%,
    #8f8f8f 56.25%,
    #909090 56.25%,
    #909090 56.640625%,
    #919191 56.640625%,
    #919191 57.03125%,
    #929292 57.03125%,
    #929292 57.421875%,
    #939393 57.421875%,
    #939393 57.8125%,
    #949494 57.8125%,
    #949494 58.203125%,
    #959595 58.203125%,
    #959595 58.59375%,
    #969696 58.59375%,
    #969696 58.984375%,
    #979797 58.984375%,
    #979797 59.375%,
    #989898 59.375%,
    #989898 59.765625%,
    #999999 59.765625%,
    #999999 60.15625%,
    #9a9a9a 60.15625%,
    #9a9a9a 60.546875%,
    #9b9b9b 60.546875%,
    #9b9b9b 60.9375%,
    #9c9c9c 60.9375%,
    #9c9c9c 61.328125%,
    #9d9d9d 61.328125%,
    #9d9d9d 61.71875%,
    #9e9e9e 61.71875%,
    #9e9e9e 62.109375%,
    #9f9f9f 62.109375%,
    #9f9f9f 62.5%,
    #a0a0a0 62.5%,
    #a0a0a0 62.890625%,
    #a1a1a1 62.890625%,
    #a1a1a1 63.28125%,
    #a2a2a2 63.28125%,
    #a2a2a2 63.671875%,
    #a3a3a3 63.671875%,
    #a3a3a3 64.0625%,
    #a4a4a4 64.0625%,
    #a4a4a4 64.453125%,
    #a5a5a5 64.453125%,
    #a5a5a5 64.84375%,
    #a6a6a6 64.84375%,
    #a6a6a6 65.234375%,
    #a7a7a7 65.234375%,
    #a7a7a7 65.625%,
    #a8a8a8 65.625%,
    #a8a8a8 66.015625%,
    #a9a9a9 66.015625%,
    #a9a9a9 66.40625%,
    #aaaaaa 66.40625%,
    #aaaaaa 66.796875%,
    #ababab 66.796875%,
    #ababab 67.1875%,
    #acacac 67.1875%,
    #acacac 67.578125%,
    #adadad 67.578125%,
    #adadad 67.96875%,
    #aeaeae 67.96875%,
    #aeaeae 68.359375%,
    #afafaf 68.359375%,
    #afafaf 68.75%,
    #b0b0b0 68.75%,
    #b0b0b0 69.140625%,
    #b1b1b1 69.140625%,
    #b1b1b1 69.53125%,
    #b2b2b2 69.53125%,
    #b2b2b2 69.921875%,
    #b3b3b3 69.921875%,
    #b3b3b3 70.3125%,
    #b4b4b4 70.3125%,
    #b4b4b4 70.703125%,
    #b5b5b5 70.703125%,
    #b5b5b5 71.09375%,
    #b6b6b6 71.09375%,
    #b6b6b6 71.484375%,
    #b7b7b7 71.484375%,
    #b7b7b7 71.875%,
    #b8b8b8 71.875%,
    #b8b8b8 72.265625%,
    #b9b9b9 72.265625%,
    #b9b9b9 72.65625%,
    #bababa 72.65625%,
    #bababa 73.046875%,
    #bbbbbb 73.046875%,
    #bbbbbb 73.4375%,
    #bcbcbc 73.4375%,
    #bcbcbc 73.828125%,
    #bdbdbd 73.828125%,
    #bdbdbd 74.21875%,
    #bebebe 74.21875%,
    #bebebe 74.609375%,
    #bfbfbf 74.609375%,
    #bfbfbf 75%,
    #c0c0c0 75%,
    #c0c0c0 75.390625%,
    #c1c1c1 75.390625%,
    #c1c1c1 75.78125%,
    #c2c2c2 75.78125%,
    #c2c2c2 76.171875%,
    #c3c3c3 76.171875%,
    #c3c3c3 76.5625%,
    #c4c4c4 76.5625%,
    #c4c4c4 76.953125%,
    #c5c5c5 76.953125%,
    #c5c5c5 77.34375%,
    #c6c6c6 77.34375%,
    #c6c6c6 77.734375%,
    #c7c7c7 77.734375%,
    #c7c7c7 78.125%,
    #c8c8c8 78.125%,
    #c8c8c8 78.515625%,
    #c9c9c9 78.515625%,
    #c9c9c9 78.90625%,
    #cacaca 78.90625%,
    #cacaca 79.296875%,
    #cbcbcb 79.296875%,
    #cbcbcb 79.6875%,
    #cccccc 79.6875%,
    #cccccc 80.078125%,
    #cdcdcd 80.078125%,
    #cdcdcd 80.46875%,
    #cecece 80.46875%,
    #cecece 80.859375%,
    #cfcfcf 80.859375%,
    #cfcfcf 81.25%,
    #d0d0d0 81.25%,
    #d0d0d0 81.640625%,
    #d1d1d1 81.640625%,
    #d1d1d1 82.03125%,
    #d2d2d2 82.03125%,
    #d2d2d2 82.421875%,
    #d3d3d3 82.421875%,
    #d3d3d3 82.8125%,
    #d4d4d4 82.8125%,
    #d4d4d4 83.203125%,
    #d5d5d5 83.203125%,
    #d5d5d5 83.59375%,
    #d6d6d6 83.59375%,
    #d6d6d6 83.984375%,
    #d7d7d7 83.984375%,
    #d7d7d7 84.375%,
    #d8d8d8 84.375%,
    #d8d8d8 84.765625%,
    #d9d9d9 84.765625%,
    #d9d9d9 85.15625%,
    #dadada 85.15625%,
    #dadada 85.546875%,
    #dbdbdb 85.546875%,
    #dbdbdb 85.9375%,
    #dcdcdc 85.9375%,
    #dcdcdc 86.328125%,
    #dddddd 86.328125%,
    #dddddd 86.71875%,
    #dedede 86.71875%,
    #dedede 87.109375%,
    #dfdfdf 87.109375%,
    #dfdfdf 87.5%,
    #e0e0e0 87.5%,
    #e0e0e0 87.890625%,
    #e1e1e1 87.890625%,
    #e1e1e1 88.28125%,
    #e2e2e2 88.28125%,
    #e2e2e2 88.671875%,
    #e3e3e3 88.671875%,
    #e3e3e3 89.0625%,
    #e4e4e4 89.0625%,
    #e4e4e4 89.453125%,
    #e5e5e5 89.453125%,
    #e5e5e5 89.84375%,
    #e6e6e6 89.84375%,
    #e6e6e6 90.234375%,
    #e7e7e7 90.234375%,
    #e7e7e7 90.625%,
    #e8e8e8 90.625%,
    #e8e8e8 91.015625%,
    #e9e9e9 91.015625%,
    #e9e9e9 91.40625%,
    #eaeaea 91.40625%,
    #eaeaea 91.796875%,
    #ebebeb 91.796875%,
    #ebebeb 92.1875%,
    #ececec 92.1875%,
    #ececec 92.578125%,
    #ededed 92.578125%,
    #ededed 92.96875%,
    #eeeeee 92.96875%,
    #eeeeee 93.359375%,
    #efefef 93.359375%,
    #efefef 93.75%,
    #f0f0f0 93.75%,
    #f0f0f0 94.140625%,
    #f1f1f1 94.140625%,
    #f1f1f1 94.53125%,
    #f2f2f2 94.53125%,
    #f2f2f2 94.921875%,
    #f3f3f3 94.921875%,
    #f3f3f3 95.3125%,
    #f4f4f4 95.3125%,
    #f4f4f4 95.703125%,
    #f5f5f5 95.703125%,
    #f5f5f5 96.09375%,
    #f6f6f6 96.09375%,
    #f6f6f6 96.484375%,
    #f7f7f7 96.484375%,
    #f7f7f7 96.875%,
    #f8f8f8 96.875%,
    #f8f8f8 97.265625%,
    #f9f9f9 97.265625%,
    #f9f9f9 97.65625%,
    #fafafa 97.65625%,
    #fafafa 98.046875%,
    #fbfbfb 98.046875%,
    #fbfbfb 98.4375%,
    #fcfcfc 98.4375%,
    #fcfcfc 98.828125%,
    #fdfdfd 98.828125%,
    #fdfdfd 99.21875%,
    #fefefe 99.21875%,
    #fefefe 99.609375%,
    #ffffff 99.609375%,
    #ffffff 100%);
}

.gray16 {
  background-image: linear-gradient(to left,
    #000 0%,
    #000 6.25%,
    #111 6.25%,
    #111 12.5%,
    #222 12.5%,
    #222 18.75%,
    #333 18.75%,
    #333 25%,
    #444 25%,
    #444 31.25%,
    #555 31.25%,
    #555 37.5%,
    #666 37.5%,
    #666 43.75%,
    #777 43.75%,
    #777 50%,
    #888 50%,
    #888 56.25%,
    #999 56.25%,
    #999 62.5%,
    #aaa 62.5%,
    #aaa 68.75%,
    #bbb 68.75%,
    #bbb 75%,
    #ccc 75%,
    #ccc 81.25%,
    #ddd 81.25%,
    #ddd 87.5%,
    #eee 87.5%,
    #eee 93.75%,
    #fff 93.75%,
    #fff 100%);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.write {
  background-color: write;
}

.black {
  background-color: black;
}
